{{ form_start(form) }}

    <div class="mb-3">
        {{ form_row(form.title) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.content) }}
    </div>

    {% if form_action == 'edit' %}
        <div class="mb-3">
            {{ form_row(form.createdAt) }}
        </div>
    {% endif %}

    <div class="mb-3">
        {{ form_row(form.isDone) }}
    </div>

    <button class="btn btn-primary mb-3">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
