{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="h1-task-create text-center my-4">
        <h1>Liste des tâches à réaliser</h1>
        <div class="my-3">
            <a href="{{ path('task_create') }}" class="btn btn-info"><i class="bi bi-plus-circle pe-2"></i>Créer une nouvelle tâche</a>
        </div>
    </div>
{% endblock %}

{% block header_img %}<img class="slide-image img-fluid w-100 mb-3" src="{{ asset('images/todolist_content.jpg') }}" alt="todo list content">{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row task-list">
            {% for task in tasks %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4 thumbnail">
                    <div class="card h-100 shadow-sm card-custom">
                        <div class="card-body card-body-custom">
                            <a href="{{ path('task_edit', {'id' : task.id }) }}" class="link-custom">
                              <div class="d-flex justify-content-between align-items-center">
                                  <h4 class="card-title mb-3 card-title-custom">
                                      {{ task.title }}
                                  </h4>
                              </div>
                              <h6 class="card-subtitle mb-2 text-muted">
                                  <p> Auteur :
                                  {% if task.user is not null %}
                                      {{ task.user.username }}
                                  {% else %}
                                      anonyme
                                  {% endif %}
                                  </p>
                              </h6>
                              <p>Création : {{ task.createdAt | date('Y-m-d H:i') }}</p>
                              <p class="card-text">{{ task.content | slice(0, 100) }}{% if task.content|length > 100 %}...{% endif %}</p>
                            </a>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            {% if app.user.id == task.user.id or is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <form method="post" action="{{ path('task_toggle', {'id' : task.id }) }}">
                                    <button class="btn btn-success btn-sm">
                                        {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                    </button>
                                </form>
                                {% include 'task/_delete_form.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        Il n'y a pas encore de tâche enregistrée.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
