{# {% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Title</th>
                <th>Content</th>
                <th>IsDone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.content }}</td>
                <td>{{ task.isDone ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_create') }}">Create new</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="h1-task-create">
        <h1>Liste des tâches à réaliser</h1>
        <div class="create-task-butt">
            <a href="{{ path('task_create') }}" class="btn btn-info"><i class="bi bi-vector-pen pe-2"></i>Créer une nouvelle tâche</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row task-list">
        {% for task in tasks %}
            {% if task.user is not null %}
                <div class="thumbnail">
                    <div class="caption">
                        <div class ="task-toggle">
                            <h4 class="pull-right">
                                {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                            </h4>
                        </div>
                        <div class="task-header">
                            <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                            <h5><em>{{ task.user.username }} - Création : {{ task.createdAt | date('Y-m-d H:i') }}</em></h5>
                        </div>
                        <div class="task-content">
                            <p>{{ task.content }}</p>
                        </div>
                    </div>

                    {% if app.user == task.user or is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="task-actions">
                        <div class="task-actions-toggle">
                            <form method="post" action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="btn btn-success btn-sm pull-right">
                                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                </button>
                            </form>
                        </div>
                        <div class="task-actions-delete">
                            <form method="post" action="{{ path('task_delete', {'id' : task.id }) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer la figure ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="thumbnail">
                    <div class="caption">
                        <div class ="task-toggle">
                            <h4 class="pull-right">
                                {% if task.isDone %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove"></span>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="task-header">
                            <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                            <h5><em>Utilisateur anonyme - Création : {{ task.createdAt | date('Y-m-d H:i') }}</em></h5>
                        </div>
                        <div class="task-content">
                            <p>{{ task.content }}</p>
                        </div>
                    </div>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="task-actions">
                            <div class="task-actions-toggle">
                                <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                    <button class="btn btn-success btn-sm pull-right">
                                        {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                    </button>
                                </form>
                            </div>
                            <div class="task-actions-delete">
                                <form method="post" action="{{ path('task_delete', {'id' : task.id }) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer la figure ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                    <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
