{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block header_img %}<img class="slide-image img-fluid w-100 mb-3" src="{{ asset('images/todolist_content.jpg') }}" alt="todo list content">{% endblock %}
{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ task.content }}</td>
            </tr>
            <tr>
                <th>IsDone</th>
                <td>{{ task.isDone ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_list') }}">back to list</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
