<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Sylvain Vandermeersch">

        <title>{% block title %}To Do List app{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ include('_header.html.twig') }}
        {% endblock %}

        <div class="container my-3">
            <div class="row">
                <div class="col-md-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible no-margin" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                                <div class="alert-message">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}<img class="slide-image img-fluid w-100" src="{{ asset('images/todolist_content.jpg') }}" alt="todo list">{% endblock %}
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
            {{ include('_footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
